# coding: utf-8

"""
    Demisto API

    This is the public REST API to integrate with the demisto server. HTTP request can be sent using any HTTP-client.  For an example dedicated client take a look at: https://github.com/demisto/demisto-py.  Requests must include API-key that can be generated in the Demisto web client under 'Settings' -> 'Integrations' -> 'API keys'   Optimistic Locking and Versioning\\:  When using Demisto REST API, you will need to make sure to work on the latest version of the item (incident, entry, etc.), otherwise, you will get a DB version error (which not allow you to override a newer item). In addition, you can pass 'version\\: -1' to force data override (make sure that other users data might be lost).  Assume that Alice and Bob both read the same data from Demisto server, then they both changed the data, and then both tried to write the new versions back to the server. Whose changes should be saved? Alice’s? Bob’s? To solve this, each data item in Demisto has a numeric incremental version. If Alice saved an item with version 4 and Bob trying to save the same item with version 3, Demisto will rollback Bob request and returns a DB version conflict error. Bob will need to get the latest item and work on it so Alice work will not get lost.  Example request using 'curl'\\:  ``` curl 'https://hostname:443/incidents/search' -H 'content-type: application/json' -H 'accept: application/json' -H 'Authorization: <API Key goes here>' --data-binary '{\"filter\":{\"query\":\"-status:closed -category:job\",\"period\":{\"by\":\"day\",\"fromValue\":7}}}' --compressed ```  # noqa: E501

    OpenAPI spec version: 2.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six
import demisto_client
import json

from demisto_client.demisto_api.api_client import ApiClient


class DefaultApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_ad_hoc_task(self, investigation_id, **kwargs):  # noqa: E501
        """Add ad-hoc task  # noqa: E501

        Add an ad-hoc task to a running playbook  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_ad_hoc_task(investigation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str investigation_id: investigation ID (required)
        :param InvPlaybookTaskData inv_playbook_task_data:
        :return: InvestigationPlaybook
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.add_ad_hoc_task_with_http_info(investigation_id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_ad_hoc_task_with_http_info(investigation_id, **kwargs)  # noqa: E501
            return data

    def add_ad_hoc_task_with_http_info(self, investigation_id, **kwargs):  # noqa: E501
        """Add ad-hoc task  # noqa: E501

        Add an ad-hoc task to a running playbook  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_ad_hoc_task_with_http_info(investigation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str investigation_id: investigation ID (required)
        :param InvPlaybookTaskData inv_playbook_task_data:
        :return: InvestigationPlaybook
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['investigation_id', 'inv_playbook_task_data']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_ad_hoc_task" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'investigation_id' is set
        if ('investigation_id' not in params or
                params['investigation_id'] is None):
            raise ValueError("Missing the required parameter `investigation_id` when calling `add_ad_hoc_task`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'investigation_id' in params:
            path_params['investigationId'] = params['investigation_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'inv_playbook_task_data' in params:
            body_params = params['inv_playbook_task_data']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/inv-playbook/task/add/{investigationId}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InvestigationPlaybook',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def close_incidents_batch(self, **kwargs):  # noqa: E501
        """Batch close incidents  # noqa: E501

        Closes an incidents batch To update incident custom fields you should lowercase them and remove all spaces. For example: Scan IP -> scanip To get the actual key name you can also go to Demisto CLI and run /incident_add and look for the key that you would like to update  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.close_incidents_batch(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UpdateDataBatch update_data_batch:
        :return: IncidentSearchResponseWrapper
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.close_incidents_batch_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.close_incidents_batch_with_http_info(**kwargs)  # noqa: E501
            return data

    def close_incidents_batch_with_http_info(self, **kwargs):  # noqa: E501
        """Batch close incidents  # noqa: E501

        Closes an incidents batch To update incident custom fields you should lowercase them and remove all spaces. For example: Scan IP -> scanip To get the actual key name you can also go to Demisto CLI and run /incident_add and look for the key that you would like to update  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.close_incidents_batch_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UpdateDataBatch update_data_batch:
        :return: IncidentSearchResponseWrapper
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['update_data_batch']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method close_incidents_batch" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'update_data_batch' in params:
            body_params = params['update_data_batch']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/incident/batchClose', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='IncidentSearchResponseWrapper',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def complete_task(self, investigation_id, file_comment, task_id, task_input, version, file, **kwargs):  # noqa: E501
        """[Deprecated] Complete a task  # noqa: E501

        Complete a task with a file attachment Deprecated - use \"/v2/inv-playbook/task/complete\"  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.complete_task(investigation_id, file_comment, task_id, task_input, version, file, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str investigation_id: investigation ID (required)
        :param str file_comment: file comment (required)
        :param str task_id: Task Id (required)
        :param str task_input: task input (required)
        :param str version: Version (required)
        :param file file: file (required)
        :param str file_name: file name
        :return: InvestigationPlaybook
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.complete_task_with_http_info(investigation_id, file_comment, task_id, task_input, version, file, **kwargs)  # noqa: E501
        else:
            (data) = self.complete_task_with_http_info(investigation_id, file_comment, task_id, task_input, version, file, **kwargs)  # noqa: E501
            return data

    def complete_task_with_http_info(self, investigation_id, file_comment, task_id, task_input, version, file, **kwargs):  # noqa: E501
        """[Deprecated] Complete a task  # noqa: E501

        Complete a task with a file attachment Deprecated - use \"/v2/inv-playbook/task/complete\"  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.complete_task_with_http_info(investigation_id, file_comment, task_id, task_input, version, file, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str investigation_id: investigation ID (required)
        :param str file_comment: file comment (required)
        :param str task_id: Task Id (required)
        :param str task_input: task input (required)
        :param str version: Version (required)
        :param file file: file (required)
        :param str file_name: file name
        :return: InvestigationPlaybook
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['investigation_id', 'file_comment', 'task_id', 'task_input', 'version', 'file', 'file_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method complete_task" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'investigation_id' is set
        if ('investigation_id' not in params or
                params['investigation_id'] is None):
            raise ValueError("Missing the required parameter `investigation_id` when calling `complete_task`")  # noqa: E501
        # verify the required parameter 'file_comment' is set
        if ('file_comment' not in params or
                params['file_comment'] is None):
            raise ValueError("Missing the required parameter `file_comment` when calling `complete_task`")  # noqa: E501
        # verify the required parameter 'task_id' is set
        if ('task_id' not in params or
                params['task_id'] is None):
            raise ValueError("Missing the required parameter `task_id` when calling `complete_task`")  # noqa: E501
        # verify the required parameter 'task_input' is set
        if ('task_input' not in params or
                params['task_input'] is None):
            raise ValueError("Missing the required parameter `task_input` when calling `complete_task`")  # noqa: E501
        # verify the required parameter 'version' is set
        if ('version' not in params or
                params['version'] is None):
            raise ValueError("Missing the required parameter `version` when calling `complete_task`")  # noqa: E501
        # verify the required parameter 'file' is set
        if ('file' not in params or
                params['file'] is None):
            raise ValueError("Missing the required parameter `file` when calling `complete_task`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'investigation_id' in params:
            form_params.append(('investigationId', params['investigation_id']))  # noqa: E501
        if 'file_name' in params:
            form_params.append(('fileName', params['file_name']))  # noqa: E501
        if 'file_comment' in params:
            form_params.append(('fileComment', params['file_comment']))  # noqa: E501
        if 'task_id' in params:
            form_params.append(('taskId', params['task_id']))  # noqa: E501
        if 'task_input' in params:
            form_params.append(('taskInput', params['task_input']))  # noqa: E501
        if 'version' in params:
            form_params.append(('version', params['version']))  # noqa: E501
        if 'file' in params:
            local_var_files['file'] = params['file']  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/inv-playbook/task/complete', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InvestigationPlaybook',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def complete_task_v2(self, investigation_id, task_id, task_input, version, file, **kwargs):  # noqa: E501
        """Complete a task  # noqa: E501

        Complete a task with command and multiple file attachments  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.complete_task_v2(investigation_id, task_id, task_input, version, file, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str investigation_id: investigation ID (required)
        :param str task_id: Task Id (required)
        :param str task_input: Task input (required)
        :param str version: Version (required)
        :param file file: Files to attach to the task (required)
        :param str task_comment: Task comment or command to run
        :param str file_names: file names separated by %###% (only if files provided)
        :param str file_comments: file comment separated by %###% (only if files provided)
        :return: InvestigationPlaybook
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.complete_task_v2_with_http_info(investigation_id, task_id, task_input, version, file, **kwargs)  # noqa: E501
        else:
            (data) = self.complete_task_v2_with_http_info(investigation_id, task_id, task_input, version, file, **kwargs)  # noqa: E501
            return data

    def complete_task_v2_with_http_info(self, investigation_id, task_id, task_input, version, file, **kwargs):  # noqa: E501
        """Complete a task  # noqa: E501

        Complete a task with command and multiple file attachments  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.complete_task_v2_with_http_info(investigation_id, task_id, task_input, version, file, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str investigation_id: investigation ID (required)
        :param str task_id: Task Id (required)
        :param str task_input: Task input (required)
        :param str version: Version (required)
        :param file file: Files to attach to the task (required)
        :param str task_comment: Task comment or command to run
        :param str file_names: file names separated by %###% (only if files provided)
        :param str file_comments: file comment separated by %###% (only if files provided)
        :return: InvestigationPlaybook
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['investigation_id', 'task_id', 'task_input', 'version', 'file', 'task_comment', 'file_names', 'file_comments']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method complete_task_v2" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'investigation_id' is set
        if ('investigation_id' not in params or
                params['investigation_id'] is None):
            raise ValueError("Missing the required parameter `investigation_id` when calling `complete_task_v2`")  # noqa: E501
        # verify the required parameter 'task_id' is set
        if ('task_id' not in params or
                params['task_id'] is None):
            raise ValueError("Missing the required parameter `task_id` when calling `complete_task_v2`")  # noqa: E501
        # verify the required parameter 'task_input' is set
        if ('task_input' not in params or
                params['task_input'] is None):
            raise ValueError("Missing the required parameter `task_input` when calling `complete_task_v2`")  # noqa: E501
        # verify the required parameter 'version' is set
        if ('version' not in params or
                params['version'] is None):
            raise ValueError("Missing the required parameter `version` when calling `complete_task_v2`")  # noqa: E501
        # verify the required parameter 'file' is set
        if ('file' not in params or
                params['file'] is None):
            raise ValueError("Missing the required parameter `file` when calling `complete_task_v2`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'investigation_id' in params:
            form_params.append(('investigationId', params['investigation_id']))  # noqa: E501
        if 'task_id' in params:
            form_params.append(('taskId', params['task_id']))  # noqa: E501
        if 'task_comment' in params:
            form_params.append(('taskComment', params['task_comment']))  # noqa: E501
        if 'task_input' in params:
            form_params.append(('taskInput', params['task_input']))  # noqa: E501
        if 'version' in params:
            form_params.append(('version', params['version']))  # noqa: E501
        if 'file' in params:
            local_var_files['file'] = params['file']  # noqa: E501
        if 'file_names' in params:
            form_params.append(('fileNames', params['file_names']))  # noqa: E501
        if 'file_comments' in params:
            form_params.append(('fileComments', params['file_comments']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/v2/inv-playbook/task/complete', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InvestigationPlaybook',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def copy_script(self, **kwargs):  # noqa: E501
        """Copy automation  # noqa: E501

        Copy given automation  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_script(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AutomationScriptFilterWrapper automation_script_filter_wrapper:
        :return: AutomationScriptResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.copy_script_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.copy_script_with_http_info(**kwargs)  # noqa: E501
            return data

    def copy_script_with_http_info(self, **kwargs):  # noqa: E501
        """Copy automation  # noqa: E501

        Copy given automation  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_script_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AutomationScriptFilterWrapper automation_script_filter_wrapper:
        :return: AutomationScriptResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['automation_script_filter_wrapper']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method copy_script" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'automation_script_filter_wrapper' in params:
            body_params = params['automation_script_filter_wrapper']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/automation/copy', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AutomationScriptResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_docker_image(self, **kwargs):  # noqa: E501
        """Create Image  # noqa: E501

        Create an image with a given list of dependencies  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_docker_image(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param NewDockerImage new_docker_image:
        :return: NewDockerImageResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_docker_image_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.create_docker_image_with_http_info(**kwargs)  # noqa: E501
            return data

    def create_docker_image_with_http_info(self, **kwargs):  # noqa: E501
        """Create Image  # noqa: E501

        Create an image with a given list of dependencies  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_docker_image_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param NewDockerImage new_docker_image:
        :return: NewDockerImageResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['new_docker_image']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_docker_image" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'new_docker_image' in params:
            body_params = params['new_docker_image']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/settings/docker-images', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='NewDockerImageResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_feed_indicators_json(self, feed_indicators_request, **kwargs):  # noqa: E501
        """Create feed indicators from JSON  # noqa: E501

        Create indicators from raw JSON (similar to ingesting from a feed). Builds indicators according to the specified feed classifier, or uses the default one if not specified. Indicator properties (all optional except for value): **value** (string, required) | **type** (string) | **score** (number, 0-3, default `0`, where `0` means None, `1` Good, `2` Suspicious, and `3` Bad) | **sourceBrand** (string, default `\"External\"`) | **sourceInstance** (string, default `\"External\"`) | **reliability** (string, one of `\"A - Completely reliable\"`, `\"B - Usually reliable\"`, `\"C - Fairly reliable\"`, `\"D - Not usually reliable\"`, `\"E - Unreliable\"`, `\"F - Reliability cannot be judged\"`) | **expirationPolicy** (string, one of `\"never\"`, `\"interval\"`, `\"indicatorType\"`) | **expirationInterval** (number, in minutes)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_feed_indicators_json(feed_indicators_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param FeedIndicatorsRequest feed_indicators_request: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_feed_indicators_json_with_http_info(feed_indicators_request, **kwargs)  # noqa: E501
        else:
            (data) = self.create_feed_indicators_json_with_http_info(feed_indicators_request, **kwargs)  # noqa: E501
            return data

    def create_feed_indicators_json_with_http_info(self, feed_indicators_request, **kwargs):  # noqa: E501
        """Create feed indicators from JSON  # noqa: E501

        Create indicators from raw JSON (similar to ingesting from a feed). Builds indicators according to the specified feed classifier, or uses the default one if not specified. Indicator properties (all optional except for value): **value** (string, required) | **type** (string) | **score** (number, 0-3, default `0`, where `0` means None, `1` Good, `2` Suspicious, and `3` Bad) | **sourceBrand** (string, default `\"External\"`) | **sourceInstance** (string, default `\"External\"`) | **reliability** (string, one of `\"A - Completely reliable\"`, `\"B - Usually reliable\"`, `\"C - Fairly reliable\"`, `\"D - Not usually reliable\"`, `\"E - Unreliable\"`, `\"F - Reliability cannot be judged\"`) | **expirationPolicy** (string, one of `\"never\"`, `\"interval\"`, `\"indicatorType\"`) | **expirationInterval** (number, in minutes)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_feed_indicators_json_with_http_info(feed_indicators_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param FeedIndicatorsRequest feed_indicators_request: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['feed_indicators_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_feed_indicators_json" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'feed_indicators_request' is set
        if ('feed_indicators_request' not in params or
                params['feed_indicators_request'] is None):
            raise ValueError("Missing the required parameter `feed_indicators_request` when calling `create_feed_indicators_json`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'feed_indicators_request' in params:
            body_params = params['feed_indicators_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/indicators/feed/json', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_incident(self, **kwargs):  # noqa: E501
        """Create single incident  # noqa: E501

        Create or update incident according to JSON structure. To update incident custom fields you should lowercase them and remove all spaces. For example: Scan IP -> scanip To get the actual key name you can also go to Demisto CLI and run /incident_add and look for the key that you would like to update  Use the 'createInvestigation\\: True' to start the investigation process automatically. (by running a playbook based on incident type.)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_incident(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateIncidentRequest create_incident_request:
        :return: IncidentWrapper
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_incident_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.create_incident_with_http_info(**kwargs)  # noqa: E501
            return data

    def create_incident_with_http_info(self, **kwargs):  # noqa: E501
        """Create single incident  # noqa: E501

        Create or update incident according to JSON structure. To update incident custom fields you should lowercase them and remove all spaces. For example: Scan IP -> scanip To get the actual key name you can also go to Demisto CLI and run /incident_add and look for the key that you would like to update  Use the 'createInvestigation\\: True' to start the investigation process automatically. (by running a playbook based on incident type.)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_incident_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateIncidentRequest create_incident_request:
        :return: IncidentWrapper
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['create_incident_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_incident" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'create_incident_request' in params:
            body_params = params['create_incident_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/incident', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='IncidentWrapper',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_incident_json(self, **kwargs):  # noqa: E501
        """Create incident from JSON  # noqa: E501

        Create single incident from raw JSON, builds incident according to default mapping  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_incident_json(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: IncidentWrapper
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_incident_json_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.create_incident_json_with_http_info(**kwargs)  # noqa: E501
            return data

    def create_incident_json_with_http_info(self, **kwargs):  # noqa: E501
        """Create incident from JSON  # noqa: E501

        Create single incident from raw JSON, builds incident according to default mapping  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_incident_json_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: IncidentWrapper
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_incident_json" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/incident/json', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='IncidentWrapper',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_incidents_batch(self, **kwargs):  # noqa: E501
        """Batch create incidents  # noqa: E501

        Create or update an incidents batch To update incident custom fields you should lowercase them and remove all spaces. For example: Scan IP -> scanip To get the actual key name you can also go to Demisto CLI and run /incident_add and look for the key that you would like to update  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_incidents_batch(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UpdateDataBatch update_data_batch:
        :return: IncidentSearchResponseWrapper
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_incidents_batch_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.create_incidents_batch_with_http_info(**kwargs)  # noqa: E501
            return data

    def create_incidents_batch_with_http_info(self, **kwargs):  # noqa: E501
        """Batch create incidents  # noqa: E501

        Create or update an incidents batch To update incident custom fields you should lowercase them and remove all spaces. For example: Scan IP -> scanip To get the actual key name you can also go to Demisto CLI and run /incident_add and look for the key that you would like to update  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_incidents_batch_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UpdateDataBatch update_data_batch:
        :return: IncidentSearchResponseWrapper
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['update_data_batch']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_incidents_batch" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'update_data_batch' in params:
            body_params = params['update_data_batch']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/incident/batch', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='IncidentSearchResponseWrapper',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_or_update_incident_type(self, **kwargs):  # noqa: E501
        """Create new Incident Type  # noqa: E501

        API to create new Incident Type  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_or_update_incident_type(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IncidentType incident_type:
        :return: IncidentType
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_or_update_incident_type_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.create_or_update_incident_type_with_http_info(**kwargs)  # noqa: E501
            return data

    def create_or_update_incident_type_with_http_info(self, **kwargs):  # noqa: E501
        """Create new Incident Type  # noqa: E501

        API to create new Incident Type  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_or_update_incident_type_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IncidentType incident_type:
        :return: IncidentType
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['incident_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_or_update_incident_type" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'incident_type' in params:
            body_params = params['incident_type']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/incidenttype', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='IncidentType',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_ad_hoc_task(self, investigation_id, inv_pb_task_id, **kwargs):  # noqa: E501
        """Delete ad-hoc task  # noqa: E501

        Delete an ad-hoc task from a running playbook  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_ad_hoc_task(investigation_id, inv_pb_task_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str investigation_id: investigation ID (required)
        :param str inv_pb_task_id: ad-hoc task ID (required)
        :return: InvestigationPlaybook
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_ad_hoc_task_with_http_info(investigation_id, inv_pb_task_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_ad_hoc_task_with_http_info(investigation_id, inv_pb_task_id, **kwargs)  # noqa: E501
            return data

    def delete_ad_hoc_task_with_http_info(self, investigation_id, inv_pb_task_id, **kwargs):  # noqa: E501
        """Delete ad-hoc task  # noqa: E501

        Delete an ad-hoc task from a running playbook  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_ad_hoc_task_with_http_info(investigation_id, inv_pb_task_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str investigation_id: investigation ID (required)
        :param str inv_pb_task_id: ad-hoc task ID (required)
        :return: InvestigationPlaybook
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['investigation_id', 'inv_pb_task_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_ad_hoc_task" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'investigation_id' is set
        if ('investigation_id' not in params or
                params['investigation_id'] is None):
            raise ValueError("Missing the required parameter `investigation_id` when calling `delete_ad_hoc_task`")  # noqa: E501
        # verify the required parameter 'inv_pb_task_id' is set
        if ('inv_pb_task_id' not in params or
                params['inv_pb_task_id'] is None):
            raise ValueError("Missing the required parameter `inv_pb_task_id` when calling `delete_ad_hoc_task`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'investigation_id' in params:
            path_params['investigationId'] = params['investigation_id']  # noqa: E501
        if 'inv_pb_task_id' in params:
            path_params['invPBTaskId'] = params['inv_pb_task_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/inv-playbook/task/delete/{investigationId}/{invPBTaskId}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InvestigationPlaybook',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_automation_script(self, **kwargs):  # noqa: E501
        """Delete existing automation  # noqa: E501

        Delete a given automation from the system.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_automation_script(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AutomationScriptFilterWrapper automation_script_filter_wrapper:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_automation_script_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_automation_script_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_automation_script_with_http_info(self, **kwargs):  # noqa: E501
        """Delete existing automation  # noqa: E501

        Delete a given automation from the system.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_automation_script_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AutomationScriptFilterWrapper automation_script_filter_wrapper:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['automation_script_filter_wrapper']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_automation_script" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'automation_script_filter_wrapper' in params:
            body_params = params['automation_script_filter_wrapper']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/automation/delete', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_evidence_op(self, **kwargs):  # noqa: E501
        """delete evidence  # noqa: E501

        Delete an evidence entity  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_evidence_op(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DeleteEvidence delete_evidence_id:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_evidence_op_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_evidence_op_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_evidence_op_with_http_info(self, **kwargs):  # noqa: E501
        """delete evidence  # noqa: E501

        Delete an evidence entity  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_evidence_op_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DeleteEvidence delete_evidence_id:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['delete_evidence_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_evidence_op" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'delete_evidence_id' in params:
            body_params = params['delete_evidence_id']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/evidence/delete', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_incidents_batch(self, **kwargs):  # noqa: E501
        """Batch delete incidents  # noqa: E501

        Deletes an incidents batch  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_incidents_batch(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UpdateDataBatch update_data_batch:
        :return: IncidentSearchResponseWrapper
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_incidents_batch_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_incidents_batch_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_incidents_batch_with_http_info(self, **kwargs):  # noqa: E501
        """Batch delete incidents  # noqa: E501

        Deletes an incidents batch  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_incidents_batch_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UpdateDataBatch update_data_batch:
        :return: IncidentSearchResponseWrapper
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['update_data_batch']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_incidents_batch" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'update_data_batch' in params:
            body_params = params['update_data_batch']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/incident/batchDelete', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='IncidentSearchResponseWrapper',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_indicators_batch(self, **kwargs):  # noqa: E501
        """Batch whitelist or delete indicators  # noqa: E501

        Batch whitelist or delete indicators entities In order to delete indicators and not whitelist, set doNotWhitelist boolean field to true  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_indicators_batch(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param GenericIndicatorUpdateBatch generic_indicator_update_batch:
        :return: UpdateResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_indicators_batch_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_indicators_batch_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_indicators_batch_with_http_info(self, **kwargs):  # noqa: E501
        """Batch whitelist or delete indicators  # noqa: E501

        Batch whitelist or delete indicators entities In order to delete indicators and not whitelist, set doNotWhitelist boolean field to true  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_indicators_batch_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param GenericIndicatorUpdateBatch generic_indicator_update_batch:
        :return: UpdateResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['generic_indicator_update_batch']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_indicators_batch" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'generic_indicator_update_batch' in params:
            body_params = params['generic_indicator_update_batch']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/indicators/batchDelete', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='UpdateResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_widget(self, id, **kwargs):  # noqa: E501
        """Remove existing widget  # noqa: E501

        Remove a given widget Id from the system.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_widget(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Widget id to remove (returned from widget save or widgets get) (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_widget_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_widget_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def delete_widget_with_http_info(self, id, **kwargs):  # noqa: E501
        """Remove existing widget  # noqa: E501

        Remove a given widget Id from the system.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_widget_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Widget id to remove (returned from widget save or widgets get) (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_widget" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `delete_widget`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/widgets/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def download_file(self, entryid, **kwargs):  # noqa: E501
        """Download file  # noqa: E501

        Download file from Demisto by entry ID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.download_file(entryid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str entryid: Entry ID (required)
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.download_file_with_http_info(entryid, **kwargs)  # noqa: E501
        else:
            (data) = self.download_file_with_http_info(entryid, **kwargs)  # noqa: E501
            return data

    def download_file_with_http_info(self, entryid, **kwargs):  # noqa: E501
        """Download file  # noqa: E501

        Download file from Demisto by entry ID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.download_file_with_http_info(entryid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str entryid: Entry ID (required)
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['entryid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method download_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'entryid' is set
        if ('entryid' not in params or
                params['entryid'] is None):
            raise ValueError("Missing the required parameter `entryid` when calling `download_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'entryid' in params:
            path_params['entryid'] = params['entryid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/octet-stream'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/entry/download/{entryid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='file',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def download_latest_report(self, id, **kwargs):  # noqa: E501
        """Get latest report by ID  # noqa: E501

        Get the latest report by its ID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.download_latest_report(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: the ID of the report to get (required)
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.download_latest_report_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.download_latest_report_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def download_latest_report_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get latest report by ID  # noqa: E501

        Get the latest report by its ID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.download_latest_report_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: the ID of the report to get (required)
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method download_latest_report" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `download_latest_report`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/octet-stream'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/reports/{id}/latest', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='file',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def edit_ad_hoc_task(self, investigation_id, **kwargs):  # noqa: E501
        """Edit ad-hoc task  # noqa: E501

        Edit an ad-hoc task in a running playbook  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.edit_ad_hoc_task(investigation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str investigation_id: investigation ID (required)
        :param InvPlaybookTaskData inv_playbook_task_data:
        :return: InvestigationPlaybook
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.edit_ad_hoc_task_with_http_info(investigation_id, **kwargs)  # noqa: E501
        else:
            (data) = self.edit_ad_hoc_task_with_http_info(investigation_id, **kwargs)  # noqa: E501
            return data

    def edit_ad_hoc_task_with_http_info(self, investigation_id, **kwargs):  # noqa: E501
        """Edit ad-hoc task  # noqa: E501

        Edit an ad-hoc task in a running playbook  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.edit_ad_hoc_task_with_http_info(investigation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str investigation_id: investigation ID (required)
        :param InvPlaybookTaskData inv_playbook_task_data:
        :return: InvestigationPlaybook
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['investigation_id', 'inv_playbook_task_data']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method edit_ad_hoc_task" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'investigation_id' is set
        if ('investigation_id' not in params or
                params['investigation_id'] is None):
            raise ValueError("Missing the required parameter `investigation_id` when calling `edit_ad_hoc_task`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'investigation_id' in params:
            path_params['investigationId'] = params['investigation_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'inv_playbook_task_data' in params:
            body_params = params['inv_playbook_task_data']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/inv-playbook/task/edit/{investigationId}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InvestigationPlaybook',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def entry_export_artifact(self, **kwargs):  # noqa: E501
        """Export Artifact  # noqa: E501

        Export an entry artifact  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.entry_export_artifact(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DownloadEntry download_entry:
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.entry_export_artifact_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.entry_export_artifact_with_http_info(**kwargs)  # noqa: E501
            return data

    def entry_export_artifact_with_http_info(self, **kwargs):  # noqa: E501
        """Export Artifact  # noqa: E501

        Export an entry artifact  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.entry_export_artifact_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DownloadEntry download_entry:
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['download_entry']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method entry_export_artifact" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'download_entry' in params:
            body_params = params['download_entry']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/entry/exportArtifact', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def execute_report(self, id, request_id, **kwargs):  # noqa: E501
        """Execute report  # noqa: E501

        Execute a new report  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.execute_report(id, request_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: the ID of the report to get (required)
        :param str request_id: the ID to register the request under (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.execute_report_with_http_info(id, request_id, **kwargs)  # noqa: E501
        else:
            (data) = self.execute_report_with_http_info(id, request_id, **kwargs)  # noqa: E501
            return data

    def execute_report_with_http_info(self, id, request_id, **kwargs):  # noqa: E501
        """Execute report  # noqa: E501

        Execute a new report  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.execute_report_with_http_info(id, request_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: the ID of the report to get (required)
        :param str request_id: the ID to register the request under (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'request_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method execute_report" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `execute_report`")  # noqa: E501
        # verify the required parameter 'request_id' is set
        if ('request_id' not in params or
                params['request_id'] is None):
            raise ValueError("Missing the required parameter `request_id` when calling `execute_report`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'request_id' in params:
            path_params['requestId'] = params['request_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/report/{id}/{requestId}/execute', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def export_incidents_to_csv_batch(self, **kwargs):  # noqa: E501
        """Batch export incidents to csv  # noqa: E501

        Exports an incidents batch to CSV file (returns file ID)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.export_incidents_to_csv_batch(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UpdateDataBatch update_data_batch:
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.export_incidents_to_csv_batch_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.export_incidents_to_csv_batch_with_http_info(**kwargs)  # noqa: E501
            return data

    def export_incidents_to_csv_batch_with_http_info(self, **kwargs):  # noqa: E501
        """Batch export incidents to csv  # noqa: E501

        Exports an incidents batch to CSV file (returns file ID)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.export_incidents_to_csv_batch_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UpdateDataBatch update_data_batch:
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['update_data_batch']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method export_incidents_to_csv_batch" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'update_data_batch' in params:
            body_params = params['update_data_batch']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'csrf_token']  # noqa: E501

        return self.api_client.call_api(
            '/incident/batch/exportToCsv', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
[...]
